
/*EN EL ROOT NO SOLO SE PUEDE RESERVAR COLORES, SINO TAMBIÉN TAMAÑO DE FUENTE: --tamaño-fuente: 3.8rem*/
:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --gris: #757575;
    --principal: #ffc107;
    --secundario: #0097a7;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px; /*1rem = 10px*/
}

.titulo{
    text-align: center;
    font-size: 3.8rem;
    color: var(--principal);
    font-family: lobter;   /*UNA DE LAS FUENTES ES: GOOGLE FONTS*/
}

.titulo span{
    font-size: 2rem;
}